.button {
  border-radius: 50%;
  color: #ffe900;
  margin: 3rem;
  height: 4rem;
  width: 4rem;
  background-image: url('./death-star.png');
  background-size: cover;
}

.button:hover {
  border: 5px solid #ffe900;
}
