.planet-name,
.planet-terrain,
.planet-population,
.planet-climate,
.planet-residents {
  color: white;
}

.planet {
  border: 3px solid #fff;
  border-radius: 5px;
  height: 20rem;
  width: 15rem;
  margin: 5rem;
}

.active {
  background-color: magenta;
}
